QPushButton{
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
}

QPushButton:hover{
	background-color: rgb(230, 230, 230);
}

QPushButton:pressed{
	background-color: rgb(200, 200, 200);
}
